// 767px, 746px, 690px, 674px
@media (max-width: 767px) {
  main{
    display: flex;
    flex-direction: column;
    .main-content{
      &__title{
        h2{
          font-size: clamp(17.5px, 27px, 32px);
        }
      }
      p{
        display: none;
      }
    }
    .top-stories{
      width: 100%;
      margin: 10px 0;
      padding: 0;
      .top{
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__view{
          display: flex;
          color: var(--link-color);
          align-items: center;
          font-family: "Roboto";
          font-size: clamp(15px, 17.5px, 20px);
        }
      }
      ul{
        width: 100%;
      }
      #top-stories__ul-first{
        display: block;
        li{
          font-size: clamp(15px, 5vh, 31px);
        }
      }
      #top-stories__ul-second{
        display: none;
        li{
          font-size: 27px;
        }
      }
    }
    .quick-bites{
      width: 100%;
      &__stocks{
        h3, p{
          margin-bottom: 10px;
        }
        h3{
          width: 90%;
          font-size: clamp(24px, 28px, 32px);
        }
        p{
          font-size: clamp(15px, 20px, 30px);
        }
        a{
          .text{
            line-height: 22.5px;
            font-size: clamp(20px, 22.5px, 30px);
          }
          .arrow{
            margin-top: -105px;
          }
        }
      }
      .form-title{
        font-size: 27px;
        margin: 20px 0;
      }
      form{
        // width: 50%;
        margin-bottom: 10px;
        input[type="email"]{
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 746px) {
  header{
    .topics{
      ul{
        li{
          font-size: clamp(10px, 1vh, 20px);
        }
      }
    }
  }

  main{
    .top-stories{
      #top-stories__ul-first{
        li{
          font-size: clamp(15px, 175%, 31px);
        }
      }
    }
  }
}

@media (max-width: 690px) {
  header{
    .topics{
      ul{
        gap: 5px;
        li{
          font-size: 0.6rem;
        }
      }
    }
  }

  main{
    .top-stories{
      #top-stories__ul-second{
        li{
          font-size: 1.35rem;
        }
      }
    }
  }
}

@media (max-width: 674px) {
  header{
    .topics{
      ul{
        gap: 4px;
        li{
          a{
            font-size: 0.75rem;
          }
        }
      }
    }
  }

  main{
    .top-stories{
      #top-stories__ul-first{
        li{
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  header{
    .header__top{
      border-bottom: none;
      margin-bottom: 10px;
      h2, .login{
        display: none;
      }
      .right-part{
        .search{
          img{
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    h1{
      position: absolute;
      top: 10px;
      left: calc(30% + 10px);
    }
    .topics{
      display: none;
    }
  }
}