#prices__header{
    ul{
        li{
            .hamburger__menu{
                    .menu__box{
                    width: 343px;
                    padding-right: 70px;
                    .menu__p{
                        width: 200px;
                        padding-left: 25px;
                    }h1,h2{
                        margin-left: 25px;
                        width: 200px;
                    }
                }
            }
        }
    }
}.prices__content{
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    .content__h1{
        text-align: center;
        margin-left: -300px;
        padding-bottom: 0px;
    }.content__block{
        width: 77.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        object{
            .prices__img{
                width: 636px;
                height: 536px;
            }
        }.block__text{
            width: 536px;
            .text{
                border-bottom: 1px solid #FFFFFF;
                margin-top: 20px;
                .text__top{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 45px;
                    h1{
                        margin: 0px;
                        font-family: 'Cormorant Garamond', serif;
                        font-weight: 700;
                        font-size: 27px;
                        line-height: 130%;
                    }h2{
                        margin-top: -3px;
                        font-family: 'Cormorant Garamond', serif;
                        font-weight: 700;
                        font-size: 27px;
                        line-height: 130%;
                    }
                }h3{
                    margin-top: 0px;
                    font-family: 'Cormorant Garamond', serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 130%;
                }
            }
        }
    }
}.prices__footer{
    width: 82%;
    height: 420px;
    background: #242424;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 50px;
    padding-left: 300px;
    .footer__top{
        width: 80%;
        display: inherit;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #FFFFFF;
        border-top: 1px solid #FFFFFF;
        padding-top: 60px;
        padding-bottom: 60px;
        div{
            object{
                .horseshoe__img{
                    width: 60px;
                    margin-top: 0px;
                }.insta__img{
                    width: 36px;
                }
            }h1{
                font-family: 'EB Garamond', serif;
                font-weight: 700;
                font-size: 24px;
                line-height: 120%;
            }h2{
                font-family: 'Cormorant Garamond', serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
            }.h1-3{
                margin-top: -30px;
            }.h1-4{
                margin-top: -75px;
            }
        }
    }.footer__h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -300px;
        margin-top: 50px;
        opacity: 0.5;
    }
}